@import url('https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap');

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.main h1{
    text-align: center;
}

.info-container {
  color: rgb(223, 223, 223);
  text-align: start;
  line-height: 1.1em;
  padding: 20px 40px;
  border: 6px solid rgb(133, 127, 127);
  display: flex;
  font-size: large;
  flex-direction: row;
  width: 90%;
  margin: 20px;
}

.indivual {
  width: 200px;
  height: 300px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 70px;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 20px;
}

.indivual img {
  box-shadow: 10px 10px 30px black;
}

.indiContainer {
  background-color: rgb(79, 29, 160);
  margin:10px 20px;
  padding: 10px 10px;
  box-shadow: 10px 10px 30px black;
}