@import url('https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap');

* {
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/HomePageWallpaper.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  overflow: scroll;
  font-family: Georama;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.infoContainer {
  margin-top: 30vh;
  margin-left: 10vw;
  font-size:  5vh;
}

.infoContainer h2 {
  padding-bottom: 5px;
}

.infoContainer p {
  padding-bottom: 30px;
  padding-left: 6px;
  font-size: 18px;
}

.btn-main {
  text-decoration: none;
  color: white;
  background-color: rgb(223, 19, 19);
  opacity: 80%;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 30px;
  outline: none;
  /* box-shadow: 7px 6px 7px black; */
}

.nav-btn {
  color: white;
  text-decoration: none;
}

.botInfo {
  line-height: 1.8em;
}
