.navebar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navebar h2{
    flex: 1;
    margin: auto;
  }
  
  .navebar li {
    display: inline;
    padding: 20px;
    cursor: pointer;
  }